/* TOP BANNER */
.services-banner .banner-container {
	max-width: 970px;
	margin: 0 auto;
	padding: 25px 0 19px 0;
	text-align: center;
	height: 356px;
}

.banner {
	width: 100%;
}

.banner .banner-title {
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
}