.footer-wrapper {
	background: #ecf0f1;
	line-height: 140%;
}

.footer-wrapper .footer {
	max-width: 970px;
	margin: 0 auto;
	padding: 40px 0;
	word-break: break-all;
}

.footer-top .footer-logo-text, .footer-top .footer-menu {
	width: 46%;
	float: left;
}

.footer-top {
	border-bottom: solid 2px #95a5a6;
	padding-bottom: 20px;
}

.footer-top .footer-logo-text {
	margin-right: 2%;
}

.footer-top .footer-logo {
	text-align: center;
}

.footer-top .footer-logo img {
	max-width: 75%;
}

.footer-top .footer-logo-text > div {
	width: 50%;
	float: left;
}

.footer-top .footer-menu {
	margin-left: 2%;
}

.footer-top .footer-menu a {
	text-align: left;
	float: left;
	width: 25%;
}

.footer-bottom {
	padding-top: 20px;
}

.footer-contact-info, .footer-policy {
	width: 46%;
	float: left;
}

.footer-contact-info {
	margin-right: 2%;
}

.footer-policy {
	margin-left: 2%;
}

.footer-contact-info > div {
	float: left;
	width: 50%;
}

.footer-contact-info span {
	display: block;
	margin-left: 10px;
}