<?xml version="1.0"?>
<config>
	<id>theme withdesign</id>
	<type>theme</type>
	<view>pc,mobile</view>
	<category>company</category>
	<name>
		<en>WithDesign 2 Theme</en>
		<ko>WithDesign 2 Theme</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<short>
		<en>Withdesign</en>
		<ko>Withdesign</ko>
	</short>
	<detail>
		<en></en>
		<ko></ko>
	</detail>
	<menu>
		<top>
			<name>
				<en>Menu Top</en>
				<ko>상단 톱 메뉴</ko>
			</name>
			<max>0</max>
		</top>
		<left>
			<name>
				<en>Menu Left</en>
				<ko>왼쪽 메뉴</ko>
			</name>
			<max>4</max>
		</left>
		<right>
			<name>
				<en>Menu Right</en>
				<ko>오른쪽 메뉴</ko>
			</name>
			<max>1</max>
		</right>
		<bottom>
			<name>
				<en>Menu Bottom</en>
				<ko>하단 메뉴</ko>
			</name>
			<max>0</max>
		</bottom>
	</menu>
</config>
